.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__left{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #888888;
}

.profile__right{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 3rem;
    box-shadow: 0px 5px 5px #888888;
}

.user__pict{
    width: 100%;
}

.informasi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data__user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title__left{
    color: grey;
    font-size: 20px;
    flex-basis: 40%;
}

.title__right{
    color: grey;
    font-size: 20px;
    flex-basis: 40%;
}

.informasi__left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informasi__right{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

p{
    margin: 0.5rem 0;
}

.edit__button{
    width: 40%;
    padding: 0.7rem;
    font-size: 18px;
}

.edit__button2{
    /* width: 40%; */
    flex-basis: 20%;
    padding: 0.7rem;
    align-self: end;
    font-size: 18px;
}

.tittle{
    margin: 2rem 0;
    font-size: 50px;
}

.user__name{
    margin-bottom: 5rem;
}

h2{
    font-size: 40px;
    margin-top: 0px;
}

.data__left{
    flex-basis: 40%;
    box-shadow: 0px 5px 5px #888888;
    border-radius: 5px;
    padding: 10px;
}

.data__right{
    flex-basis: 39%;
    box-shadow: 0px 5px 5px #888888;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0px;
}