.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.testimony__card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}