.login{
    display: flex;
    flex-direction: row;
}

.login__left{
    flex-basis: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow{
    width: 3%;
    align-self: start;
    margin-bottom: 3rem;
}

.image{
    width: 50%;
    margin-bottom: 3rem;
}

.login__right{
    flex-basis: 50%;
    background-color: #87BFF3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
}

.logo__space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text__left{
    font-weight: bold;
    color: grey;
    font-size: 15px;
    margin-bottom: 2rem;
}

.info{
    color: black;
}

.remember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.form{
    width:60%;
    display: flex;
    flex-direction: column;
}

.login__button{
    width: 100%;
    padding: 0.7rem 0;
    margin-bottom: 0.5rem;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__button{
    color: blue;
    text-decoration: underline;
}

.question{
    color: black;
}

.question__password{
    color: black;
    text-decoration: underline;
}

.input{
    width: 100%;
    background-color: white;
    height: 2rem;
    border-radius: 5px;
}

.title{
    color: white;
}

.or{
    margin: 0;
    margin-bottom: 0.5rem;
}

.google{
    background-color: white;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px grey solid;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.logo_google{
    width:10%;
    margin-right: 2rem;
}